@using Web.Models.ProfileSettings;

@{
    ViewData["Title"] = "Edit settings";
}

@model ProfileSettingsViewModel;

<div class="form-container">
    <partial name="Partials/_ChangeDetails" model="Model.ChangeDetails"/>
    <partial name="Partials/_ChangePassword" model="Model.ChangePassword"/>
</div>