@{
    ViewData["Title"] = "Add qualification";
}

@model AddQualificationViewModel

<div class="form-container">

    <div asp-validation-summary="All"></div>

    <div class="form-wrapper">
        <div class="form-header">
            <h2>Add qualification</h2>
        </div>
        <div class="form-content">
            <form class="form" asp-controller="Profile" asp-action="AddQualification" asp-route-id="@Model.UserId" asp-route-qid="@Model.QualId">
                <input type="hidden" asp-for="UserId" />
                <input type="hidden" asp-for="QualId" />
                <input type="hidden" asp-for="Types" value="@Model.Types.ToList()"/>

                <div class="form-child">
                    <label asp-for="Title">Title</label>
                    <div class="form-child-input">
                        <div><i class="fa-solid fa-heading"></i></div>
                        <input asp-for="Title" type="text" placeholder="Write title here">
                    </div>
                </div>
                <div class="form-child">
                    <label asp-for="Location">Location</label>
                    <div class="form-child-input">
                        <div><i class="fa-solid fa-location-dot"></i></div>
                        <input type="text" placeholder="Stockholm" asp-for="Location">
                    </div>
                </div>
                <div class="form-child">
                    <label asp-for="Description">Description</label>
                    <div class="form-child-input">
                        <div><i class="fa-solid fa-quote-left"></i></div>
                        <input type="text" placeholder="Lorem ipsum" asp-for="Description">
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-child">
                        <label asp-for="StartDate">Start date</label>
                        <div class="form-child-input">
                            <div><i class="fa-solid fa-calendar-days"></i></div>
                            <input type="date" placeholder="2024-01-01" asp-for="StartDate">
                        </div>
                    </div>
                    <div class="form-child">
                        <label asp-for="EndDate">End date</label>
                        <div class="form-child-input">
                            <div><i class="fa-solid fa-calendar-days"></i></div>
                            <input type="date" placeholder="2025-01-01" asp-for="EndDate">
                        </div>
                    </div>
                </div>
                <div class="form-child">
                    <label asp-for="TypeId">Type</label>
                    <div class="form-child-input">
                        <div><i class="fa-solid fa-quote-left"></i></div>
                        <select asp-items="@Model.Types" asp-for="TypeId"></select>
                    </div>
                </div>
                <div class="form-row">
                    <button type="submit" class="submit">Add</button>
                </div>
            </form>
        </div>
    </div>
</div>