<div id="profile-container">
    <div id="profile-header">
        <img id="profile-avatar" src="https://cdn-icons-png.flaticon.com/512/3607/3607444.png">

        <div id="profile-content">

            <div id="profile-info">
                <div id="profile-info-header">
                    <div>
                        <h2>Filip Siri</h2>
                        <div id="profile-location">
                            <img src="~/assets/point.png">
                            <p>Stockholm, Sverige</p>
                        </div>
                    </div>
                    <a id="profile-edit-btn">Edit profile</a>
                </div>

                <p id="profile-desc">Senior fullstack developer with 20 years experience in React and Asp.net</p>
            </div>
            <div id="profile-stats">
                <div class="profile-stats-child">
                    <img src="~/assets/work.png">
                    <div class="profile-stats-child-text">
                        <p class="profile-stats-child-amount">5</p>
                        <p class="profile-stats-child-title">Workings</p>
                    </div>
                </div>
                <div class="profile-stats-child">
                    <img src="~/assets/education.png">
                    <div class="profile-stats-child-text">
                        <p class="profile-stats-child-amount">5</p>
                        <p class="profile-stats-child-title">Educations</p>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div id="profile-body">

        <div id="profile-experience-parent">
            <div class="profile-experience-child">

                <h2 class="content-title">Work experience</h2>
                <div class="roadmap-parent">
                    <div class="roadmap-child">
                        <div class="roadmap-progress"></div>
                        <div class="roadmap-content">
                            <h3 class="roadmap-title">Detta är en titel</h3>
                            <span class="roadmap-date">2017-2020</span>
                            <i class="roadmap-place">USA, usa oh usa</i>
                            <span class="roadmap-strong">Beskrivning</span>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est voluptatum libero earum! Quo in tempora dignissimos maxime. Alias aliquam nobis voluptates possimus tempore itaque sapiente quod delectus dicta, id exercitationem.</p>
                        </div>
                    </div>
                </div>

            </div>
            <div class="profile-experience-child">

                <h2 class="content-title">Education</h2>
                <div class="roadmap-parent">
                    <div class="roadmap-child">
                        <div class="roadmap-progress"></div>
                        <div class="roadmap-content">
                            <h3 class="roadmap-title">Detta är en titel</h3>
                            <span class="roadmap-date">2017-2020</span>
                            <i class="roadmap-place">USA, usa oh usa</i>
                            <span class="roadmap-strong">Beskrivning</span>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>
</div>

<header>
    <a class="logo"> länk 1</a>
    <a> länk 2</a>
    <a> länk 3</a>
 </header>