@using System.Security.Claims;
@using Web.Models.Profile;

@model UpdatePasswordViewModel;

@{
    ViewData["Title"] = "Change password";
    var userId = User.FindFirst(ClaimTypes.NameIdentifier)?.Value;
}

<div class="form-container">
    <div class="links">
        @await Html.PartialAsync("_ProfileUpdateOptions")
    </div>
    <div class="form-wrapper">
        <div class="form-header">
            <h2>Change password</h2>
        </div>
        <div class="form-content">
            <form class="form" asp-controller="Profile" asp-action="UpdatePassword" asp-route-id="@userId">
                <div class="form-row">
                    <div class="form-child">
                        <label asp-for="OldPassword">Old password</label>
                        <div class="form-child-input">
                            <div><i class="fa-solid fa-signature"></i></div>
                            <input type="password" asp-for="OldPassword">
                        </div>
                        <span class="form-error" asp-validation-for="OldPassword"></span>
                    </div>
                    <div class="form-child">
                        <label asp-for="NewPassword">New password</label>
                        <div class="form-child-input">
                            <div><i class="fa-solid fa-signature"></i></div>
                            <input type="password" asp-for="NewPassword">
                        </div>
                        <span class="form-error" asp-validation-for="NewPassword"></span>
                    </div>
                </div>
                <div class="form-child">
                    <label asp-for="ConfirmNewPassword">Confirm new password</label>
                    <div class="form-child-input">
                        <div><i class="fa-solid fa-house"></i></div>
                        <input type="password" asp-for="ConfirmNewPassword"> 
                    </div>
                    <span class="form-error"  asp-validation-for="ConfirmNewPassword"></span>
                </div>
                <button type="submit" class="submit">Save</button>
            </form>
        </div>
    </div>
</div>