@using System.Security.Claims;
@using Web.Models.Profile;

@model UpdateDetailsViewModel;

@{
    ViewData["Title"] = "Edit details";
    var userId = User.FindFirst(ClaimTypes.NameIdentifier)?.Value;
}

<div class="form-container">
    <div class="links">
        <ul>
            <li><a href="details" class="selected">Information</a></li>
            <li><a href="password">Password</a></li>
        </ul>
    </div>
    <div class="form-wrapper">
        <div class="form-header">
            <h2>Change profile information</h2>
        </div>
        <div class="form-content">
            <form class="form" asp-controller="Profile" asp-action="UpdateDetails" asp-route-id="@userId">
                <div class="form-row">
                    <div class="form-child">
                        <label asp-for="FirstName">Firstname</label>
                        <div class="form-child-input">
                            <div><i class="fa-solid fa-signature"></i></div>
                            <input type="text" asp-for="FirstName">
                        </div>
                        <span class="form-error" asp-validation-for="FirstName"></span>
                    </div>
                    <div class="form-child">
                        <label asp-for="LastName">Lastname</label>
                        <div class="form-child-input">
                            <div><i class="fa-solid fa-signature"></i></div>
                            <input type="text" asp-for="LastName">
                        </div>
                        <span class="form-error" asp-validation-for="LastName"></span>
                    </div>
                </div>
                <div class="form-child">
                    <label asp-for="Address">Address</label>
                    <div class="form-child-input">
                        <div><i class="fa-solid fa-house"></i></div>
                        <input type="text" asp-for="Address">
                    </div>
                    <span class="form-error" asp-validation-for="Address"></span>
                </div>
                <div class="form-child">
                    <label asp-for="Description">Description</label>
                    <div class="form-child-input">
                        <textarea asp-for="Description"></textarea>
                    </div>
                    <span class="form-error" asp-validation-for="Description"></span>
                </div>
                <div class="form-checkbox">
                    <input type="checkbox" id="private-db" asp-for="IsPrivate">
                    <label for="private-db">Private profile</label>
                </div>
                <button type="submit" class="submit">Save</button>
            </form>
        </div>
        <div class="form-header">
            <h2>Export information</h2>
        </div>
        <div class="form-content">
            <form class="form" asp-controller="Export" asp-action="Download" asp-route-id="@userId" method="get">
                <button type="submit" class="submit">Download XML</button>
            </form>
        </div>
    </div>
</div>