@using Web.Models.Auth

@{
    ViewData["Title"] = "Login";

    var notifyType = TempData["NotifyType"] as string;
    var notifyMessage = TempData["NotifyMessage"] as string;

    @if (!string.IsNullOrEmpty(notifyMessage) && !string.IsNullOrEmpty(notifyType))
    {
        <script>
            notify({ type: "@notifyType", text: "@notifyMessage" });
        </script>
    }
}

@model LoginViewModel

<div class="form-container">
    <div class="form-wrapper">
        <div class="form-header">
            <h2>Log in</h2>
            <div class="form-error" style="display: flex; justify-content: center" asp-validation-summary="All"></div>
        </div>
        <div class="form-content">
            <form class="form" asp-action="Login">
                <div class="form-child">
                    <label asp-for="Email">Email address</label>
                    <div class="form-child-input">
                        <div><i class="fa-solid fa-envelope"></i></div>
                        <input type="text" placeholder="Enter email" asp-for="Email">
                    </div>
                </div>
                <div class="form-child">
                    <label asp-for="Password">Password</label>
                    <div class="form-child-input">
                        <div><i class="fa-solid fa-lock"></i></div>
                        <input type="password" placeholder="Password" asp-for="Password">
                    </div>
                </div>
                <div class="form-checkbox">
                    <input type="checkbox" asp-for="RememberMe">
                    <label asp-for="RememberMe">Remember me</label>
                </div>
                <button type="submit" class="submit">Login</button>
                <div class="register-wrapper">
                    <a asp-controller="Auth" asp-action="Register">Don't have an account? Sign up here</a>
                </div>
            </form>
        </div>
    </div>
</div>