@{
    ViewData["Title"] = "Register";
}


@model RegisterViewModel

<div class="form-container">
    <div class="form-wrapper">
        <div class="form-header">
            <h2>Register</h2>
        </div>
        <div class="form-content">
            <form class="form" asp-action="Register">
                <div class="form-row">
                    <div class="form-child">
                        <label asp-for="FirstName">Firstname</label>
                        <div class="form-child-input">
                            <div><i class="fa-solid fa-signature"></i></div>
                            <input type="text" placeholder="John" asp-for="FirstName">
                        </div>
                        <span class="form-error" asp-validation-for="FirstName"></span>
                    </div>
                    <div class="form-child">
                        <label asp-for="LastName">Lastname</label>
                        <div class="form-child-input">
                            <div><i class="fa-solid fa-signature"></i></div>
                            <input type="text" placeholder="Doe" asp-for="LastName">
                        </div>
                        <span class="form-error" asp-validation-for="LastName"></span>
                    </div>
                </div>
                <div class="form-child">
                    <label asp-for="Address">Address</label>
                    <div class="form-child-input">
                        <div><i class="fa-solid fa-house"></i></div>
                        <input type="text" placeholder="Täby, Stockolm"  asp-for="Address">
                    </div>
                    <span class="form-error" asp-validation-for="Address"></span>
                </div>
                <div class="form-child">
                    <label asp-for="Email">Email</label>
                    <div class="form-child-input">
                        <div><i class="fa-solid fa-envelope"></i></div>
                        <input type="text" placeholder="Enter email" asp-for="Email">
                    </div>
                    <span class="form-error" asp-validation-for="Email"></span>
                </div>
                <div class="form-child">
                    <label asp-for="Password">Password</label>
                    <div class="form-child-input">
                        <div><i class="fa-solid fa-lock"></i></div>
                        <input type="password" placeholder="Password" asp-for="Password">
                    </div>
                    <span class="form-error" asp-validation-for="Password"></span>
                </div>
                <div class="form-child">
                    <label asp-for="ConfirmPassword">Confirm password</label>
                    <div class="form-child-input">
                        <div><i class="fa-solid fa-lock"></i></div>
                        <input type="password" placeholder="Confirm password" asp-for="ConfirmPassword">
                    </div>
                    <span class="form-error" asp-validation-for="ConfirmPassword"></span>
                </div>
                <button type="submit" class="submit">Register</button>
            </form>
        </div>
    </div>
</div>