@{
    ViewData["Title"] = "Register";
}


@model RegisterViewModel

<div asp-validation-summary="All"></div>

<div class="form-container">
    <div class="form-wrapper">
        <div class="form-header">
            <h2>Register</h2>
        </div>
        <div class="form-content">
            <form class="form" asp-action="Register">
                <div class="form-row">
                    <div class="form-child">
                        <label>Firstname</label>
                        <div class="form-child-input">
                            <div><i class="fa-solid fa-signature"></i></div>
                            <input type="text" placeholder="John" asp-for="FirstName">
                        </div>
                    </div>
                    <div class="form-child">
                        <label>Lastname</label>
                        <div class="form-child-input">
                            <div><i class="fa-solid fa-signature"></i></div>
                            <input type="text" placeholder="Doe" asp-for="LastName">
                        </div>
                    </div>
                </div>
                <div class="form-child">
                    <label>Address</label>
                    <div class="form-child-input">
                        <div><i class="fa-solid fa-house"></i></div>
                        <input type="text" placeholder="Täby, Stockolm"  asp-for="Address">
                    </div>
                </div>
                <div class="form-child">
                    <label>Email</label>
                    <div class="form-child-input">
                        <div><i class="fa-solid fa-envelope"></i></div>
                        <input type="text" placeholder="Enter email" asp-for="Email">
                    </div>
                </div>
                <div class="form-child">
                    <label>Password</label>
                    <div class="form-child-input">
                        <div><i class="fa-solid fa-lock"></i></div>
                        <input type="password" placeholder="Password" asp-for="Password">
                    </div>
                </div>
                <div class="form-child">
                    <label>Confirm password</label>
                    <div class="form-child-input">
                        <div><i class="fa-solid fa-lock"></i></div>
                        <input type="password" placeholder="Confirm password" asp-for="ConfirmPassword">
                    </div>
                </div>
                <button type="submit" class="submit">Register</button>
            </form>
        </div>
    </div>
</div>