@using Web.Models.Project
@using Microsoft.AspNetCore.Identity

@inject SignInManager<User> signInManager

@{
    ViewData["Title"] = "My projects";
}

@model List<ProjectViewModel>

<header id="project-header">
    <ul>
        <li><a asp-controller="Project" asp-action="Index">All</a></li>
        <li><a asp-controller="Project" asp-action="MyProjects">My projects</a></li>
    </ul>
</header>
<div class="project-content-wrapper">
    <div class="project-card-parent">
        @foreach (ProjectViewModel project in Model)
        {
            <div class="project-card">
                <h3>@project.Title</h3>
                <p>@project.Description</p>
                <div class="project-card-users-parent">
                    @foreach (ProjectUserViewModel user in project.Collaborators)
                    {
                        <a class="project-card-user" href="/profile/@user.AvatarUri">
                            @if (user.IsOwner)
                            {
                                <i class="fa-solid fa-crown crown"></i>
                            }
                            <img src="/avatars/@user.AvatarUri" />
                            <div class="project-card-name">@user.FirstName @user.LastName</div>
                        </a>
                    }
                </div>
            </div>
        }
    </div>
</div>