@{
    ViewData["Title"] = "Home";
}

@using Data.Models
@model List<User>

<h1> Utforska CV </h1>

@foreach (User user in Model)
{
    <p>@user.Firstname</p>
    <p>Skdills:</p>
    @foreach (Skill skill in user.Skills)
    {
        <p>@skill.Title</p>
    }
}