@using Microsoft.AspNetCore.Identity
@using System.Security.Claims

@inject SignInManager<User> signInManager
@inject UserManager<User> userManager

@{
    ViewData["Title"] = "Home";
}

<h1> Utforska CV </h1>

@if (User.Identity.IsAuthenticated) {
    <p>LOGGED IN</p>
}