.error-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
    width: auto;
}

.error-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.error-header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0;
    margin-bottom: 0.25rem;
}

.error-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}

.error-body a {
    text-decoration: none;
}

.error-body a:visited {
    color: inherit;
}
