.form-container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    margin-top: 200px;
}

.links {
    height: fit-content;
    background-color: hsl(0,0%, 90%);
    padding: 8px;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
}

.links ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.links a{
    text-decoration: none;
    color: hsl(0,0%,5%);
    cursor: pointer;
}

.form-wrapper {
    height: max-content;
    width: 500px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

.form-header {
    background-color: #ffffff;
    padding: 1rem;
    border-bottom: 1px solid rgb(197, 197, 197);
    border-radius: 9px 9px 0 0;
}

.form-content {
    padding: 1.5rem;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.form-row {
    display: flex;
    gap: 20px;
}

.form-child {
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
}

.form-child-input {
    display: flex;
    box-shadow: 0px 0px 2px rgba(100,100,100,0.3);
    border-radius: 4px;
}

.form-child-input div {
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border-right: 1px solid rgba(100,100,100,0.3);
    color: #494949;
}

.form-child-input select {
    width: 100%;
    padding: 7px;
    border: none;
}

.form-child-input input {
    border: none;
    outline: none;
    padding: 0.5rem 1rem;
    width: 100%;
}

.form-checkbox {
    display: flex;
    gap: 0.75rem;
}

.submit, .delete {
    width: max-content;
    padding: 0.4rem 1rem;
    border: none;
    background-color: #5289ff;
    color: #fff;
    border-radius: 4px;
}

.delete {
    background-color: red !important;
}

.delete:hover {
    background-color: darkred !important;
    cursor: pointer;
    transition: all 0.3s;
}

.submit:hover {
    background-color: #2935a1;
    transition: all 0.3s;
    cursor: pointer;
}

.register-wrapper {
    text-align: center;
    color: #104ffa;
    cursor: pointer;
    user-select: none;
    border-top: 1px solid #b8b8b8;
    padding-top: 20px;
    margin-top: 10px;
}

.form-error {
    color: red;
}