header{
    width: 100vw;
    display: flex; align-items: center; justify-content: center;
}

header nav {
    width: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0.5rem 2rem;
    gap: 3rem;
}
header a{
    text-decoration: none;
    color: hsl(0,0%, 10%);
    font-size: 1.25rem;
    text-align: center;
}
header a:not(#home):hover{
    text-decoration-color: #5289ff;
}
header #home{
    margin-right: auto;
    font-size: 2rem;
}

header #searchbar{
    position: relative;
    display: flex;
    align-items: center;
}

header #search-result {
    display: none;
    position: absolute;
    top: 30px;
    border-radius: 8px 8px 16px 16px;
    width: 150px;
    height: auto;
    background: hsl(0,0%,95%);
    box-shadow: 0px 2px 8px rgba(0,0,0,0.1);
    z-index: 2;
}

header #search-result .search-result-child {
    background: transparent;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 5px;
}

header #search-result .search-result-child:first-child {
    padding-top: 10px;
}

header #search-result .search-result-child:hover {
    background: hsl(0,0%,92%);
}

header #search-result .search-result-child img{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    overflow: hidden;
}

header #search-result .search-result-child p {
    font-size: 1rem;
    font-weight: 500;
}

header #searchbar .icon{
    font-size: 1rem;
    color: hsl(0,0%,20%);
    position: absolute;
    left: 8px;
    top: 50%;
    transform: translateY(-50%);
}

header #searchbar .back{
    display: none;
    
}

header #searchinput {
    background-color: transparent;
    padding: 2px 8px 2px 32px;
    border: 1.5px solid hsl(0,0%,40%);
    border-radius: 16px;
    position: relative;
    height: 100%;
    width: 100%;
    font-size: 1rem;
    color: hsl(0,0%,10%);
}

header .message{
    position: relative;
    display: flex; align-items: flex-end;
    gap: 0.5rem;
}

header .message p{
    color: hsl(0,0%, 10%);
    font-size: 1.25rem;
}

header i{
    font-size: 1.5rem;
    color: hsl(0, 0%, 20%);
}

header .inbox{
    position: absolute; right: -10px; top: 15px;
    background-color: #5289ff;
    padding: 0.1rem;
    border-radius: 15px;
    width: 15px; height: 15px;
    display: flex; align-items: center; justify-content: center;
}

header .inbox p{
    font-size: 0.8rem;
    font-weight: 600;
    color: white;
}

header .profile{
    display: flex;
    gap: 0.5rem;
    align-items: center;
    position: relative;
    height: max-content;
}

header .profile summary {
    list-style: none;
    cursor: pointer;
}

header .profile #options{
    position: absolute;
    right: 0px;
    display: flex;
    flex-direction: column;
    gap: 4px;
    padding: 12px 24px;
    background-color: #5289ff;
    border-bottom-right-radius: 12px; border-bottom-left-radius: 12px; border-top-left-radius: 12px;
    z-index: 100;
    top: 50px;
}

header .profile #options form{
    display: inline-block; 
}

header .profile #options form button, header .profile #options a{
    color: white;
}

header .avatar {
    object-fit: cover;
    overflow: hidden;
    border-radius: 45px;
    width: 45px; height: 45px;  
}
header button {
    background-color: transparent;
    border: none;   
    font-size: 1.25rem;
    color: hsl(0,0%, 10%);
    font-family: "Segoe UI", "Tahoma", "Geneva", "Verdana", "sans-serif";
    color: #1a2a2a;
}
header button:hover {
    cursor: pointer;
    text-decoration-color: #5289ff;
}
header .login {
    border: 2px solid #5289ff;
    border-radius: 32px;
    padding: 0 16px 4px 16px;
}

@media (max-width: 900px){
    header nav{
        gap: 30px;
        justify-content: space-between;
    }

    header #home{
        font-size: 1.3rem;
        font-weight: 600;
        margin-right: 0px;
    }

}

@media (max-width: 700px){
    header nav{
        gap: 15px;
    }

    header .message p:not(.inbox p){
        display: none;
    }

    header #searchbar{
        width: 150px;
    }

}

@media (max-width: 500px){
    header #searchbar{
        transition: width ease 300ms;
        z-index: 2;
        background-color: white;
    }

    header #searchinput {
    }

    header #searchbar:not(#searchinput:focus){
        width: 30px;
        overflow: hidden;
    }

    header #searchbar:not(#searchinput:focus) #searchinput{
        border: none;
    }

    header #searchbar:not(#searchinput:focus) .icon{
        font-size: 1.5rem;
    }

    header #searchbar:has(#searchinput:focus){
        position: absolute;
        height: 50px;
        width: 100vw;
        left: 0px;
        justify-content: flex-end;
    }

    header #searchinput:focus{
        height: unset;
        width: 75%;
        margin-right: 15px;
        padding: 2px 8px;
        font-size: 1.2rem;
    }


    header #searchbar:has(#searchinput:focus) .icon {
        display: none;
    }

    header #searchbar:has(#searchinput:focus) .back{
        display: block;
        margin-right: 15px;
    }

    header #searchbar:has(#searchinput:focus) #search-result{
        top: 50px;
        left: 18%;
    }
}