header{
    width: 100vw;
    display: flex; align-items: center; justify-content: center;
}

header nav {
    width: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0.5rem 2rem;
    gap: 3rem;
}
header a{
    text-decoration: none;
    color: hsl(0,0%, 10%);
    font-size: 1.25rem;
    text-align: center;
}
header a:not(.logo):hover{
    text-decoration-color: #5289ff;
}
header .logo{
    margin-right: auto;
    font-size: 2rem;
}

header #searchbar{
    position: relative;
}

header #search-result {
    display: none;
    position: absolute;
    width: 100%;
    height: 300px;
    background: red;

/*    Styla scrollen snyggare kanske hehe*/
    overflow-y: scroll;
}

header #search-result .search-result-child {
    background: blue;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 5px;
}

header #search-result .search-result-child:hover {
    background: darkblue;
}

header #search-result .search-result-child img{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    overflow: hidden;
}

header #search-result .search-result-child p {
    font-size: 14px;
}

header #searchbar .icon{
    font-size: 1rem;
    color: hsl(0,0%,20%);
    position: absolute;
    left: 8px;
    top: 50%;
    transform: translateY(-50%);
}

header #searchbar input {
    background-color: transparent;
    padding: 2px 8px 2px 32px;
    border: 1.5px solid hsl(0,0%,40%);
    border-radius: 16px;
    position: relative;
    height: 100%;
    font-size: 1rem;
    color: hsl(0,0%,10%);
}

header .message{
    position: relative;
    display: flex; align-items: flex-end;
    gap: 0.5rem;
}

header .message p{
    color: hsl(0,0%, 10%);
    font-size: 1.25rem;
}

header i{
    font-size: 1.5rem;
    color: hsl(0, 0%, 20%);
}

header .inbox{
    position: absolute; right: -10px; top: 15px;
    background-color: #5289ff;
    padding: 0.1rem;
    border-radius: 15px;
    width: 15px; height: 15px;
    display: flex; align-items: center; justify-content: center;
}

header .inbox p{
    font-size: 0.8rem;
    font-weight: 600;
    color: white;
}

header .profile{
    display: flex;
    gap: 0.5rem;
}

header .avatar {
    object-fit: cover;
    overflow: hidden;
    border-radius: 30px;
    width: 30px; height: 30px;  
}

header button {
    background-color: transparent;
    border: none;
    font-size: 1.25rem;
    color: hsl(0,0%, 10%);
}
header button:hover {
    cursor: pointer;
    text-decoration-color: #5289ff;
}
header .login {
    border: 2px solid #5289ff;
    border-radius: 32px;
    padding: 0 16px 4px 16px;
}
