.contacts-container {
    width: 80%;
    margin: 20px auto 0 auto;
    background-color: rgb(255, 255, 255);
    padding: 25px 50px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.contacts-container h1 {
    margin: 0;
}

.contacts-parent {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.contacts-child {
    background-color: #7a9ade;
    color: #fff;
    display: flex;
    gap: 20px;
    padding: 10px;
    align-items: center;
    text-decoration: none;
    position: relative;
}

.contacts-child.new {
    background-color: #5289ff !important;
}

.contacts-child:hover {
    background: #4172da !important;
    cursor: pointer;
    transition: all 0.3s;
}

.contacts-child.anonymous {
    background: #7a9ade !important;
    flex-direction: column;
    align-items: flex-start;
}
.contacts-child.new.anonymous {
    background-color: #5289ff !important;
}
.contacts-child.new.anonymous:hover {
    background-color: #5289ff !important;
}
.contacts-child.anonymous:hover {
    background:  !important;
    cursor: default !important;
}

.contacts-new {
    position: absolute;
    top: -10px;
    left: -10px;
    background: lightgreen;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 0;
    font-size: 12px;
    color: black;
}

.contacts-child img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.contacts-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}
.contacts-read-btn {
    background: none;
    outline: none;
    border: none;
    color: #fff;
    font-size: 16px;
    margin-left: 20px;
    text-decoration: underline;
}
.contacts-read-btn:hover {
    color: lightgray;
    transition: all 0.3s;
    cursor: pointer;
}

.message-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding-bottom: 20px;
    border-bottom: 1px solid rgb(212, 212, 212);
}

.message-header img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
}

.message-header h2 {
    font-size: 24px;
}

.message-parent {
    display: flex;
    flex-direction: column;
    height: 460px;
    overflow-y: scroll;
    padding-top: 15px;
}

.message-parent::-webkit-scrollbar {
    width: 5px;
}

.message-parent::-webkit-scrollbar-track {
    background: #f1f1f1;
}

.message-parent::-webkit-scrollbar-thumb {
    background: #5289ff;
}

.message-parent::-webkit-scrollbar-thumb:hover {
    background: #2663e7;
}

.message-child {
    display: flex;
    gap: 10px;
    align-items: center;
    padding: 10px;
    position: relative;
}

.message-child:hover {
    background: rgba(0,0,0,0.04);
}

.delete-message-form {
    display: none;
    position: absolute;
    top: -10px;
    right: 10px;
    background: red;
    width: max-content;
}

.message-child.self .delete-message-form {
    right: unset !important;
    left: 10px !important;
}

.message-child:hover .delete-message-form {
    display: block;
}

.delete-message-form button {
    border: none;
    outline: none;
    color: lightcoral;
    font-size: 20px;
}

.delete-message-form button:hover {
    color: red;
    cursor: pointer;
}

.message-child.self {
    flex-direction: row-reverse;
}

.message-child img {
    width: 45px;
    height: 45px;
    border-radius: 50%;
}

.message-child-body {
    max-width: 250px;
    background-color: #5289ff;
    padding: 10px 20px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    word-wrap: break-word;
    overflow-wrap: break-word;
    white-space: pre-wrap;
}

.message-child.self .message-child-body {
    background-color: #2663e7;
}

.message-child-body p {
    color: #fff;
}

.message-child-time {
    font-size: 12px;
}

.message-send-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    border-top: 1px solid rgb(212, 212, 212);
}

.message-send-wrapper textarea {
    border: none;
    outline: none;
    background-color: rgb(235, 235, 235);
    padding: 10px;
    resize: none;
    width: 50%;
    height: 60px;
    box-sizing: border-box;
}

.message-send-btn {
    background-color: #5289ff;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
    padding: 0 20px;
    border: none;
}

.message-send-btn:hover {
    background-color: #4576e0;
    cursor: pointer;
}