#profile-container {
    width: 80%;
    margin: 20px auto 0 auto;
    display: flex;
    flex-direction: column;
    gap: 30px;
    background-color: rgb(255, 255, 255);
    padding: 45px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}

#profile-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
    padding: 20px 0 50px 0;
    /* background-color: red; */
    border-bottom: 1px solid rgb(212, 212, 212);
}

#profile-avatar-parent {
    position: relative;
    width: 130px;
    height: 130px;
    align-self: center;
    border-radius: 50%;
}

#profile-avatar-parent:hover #edit-profile {
    opacity: 1;
    cursor: pointer;
}

#edit-profile {
    position: absolute;
    background: rgba(0, 0, 0, 0.4);
    width: 100%;
    color: #fff;
    text-shadow: 0 0 5px black;
    height: 100%;
    border-radius: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: all 0.3s;
    font-size: 25px;
}

#profile-change-avatar-input {
    display: none
}

#profile-avatar {
    width: 130px;
    height: 130px;
    border-radius: 50%;
    align-self: center;
    cursor: pointer;
}

#profile-content {
    display: flex;
    flex-direction: row;
    width: 100%;
}

#profile-info {
    height: max-content;
    width: 50%;
    border-right: 1px solid rgb(212, 212, 212);
}

#profile-info-header {
    display: flex;
}

#profile-location {
    display: flex;
    margin: 4px 0 10px 0;
}

#profile-location img {
    width: 20px;
    align-self: center;
}

.profile-btn {
    background-color: #5289ff;
    height: max-content;
    margin: auto 50px auto auto;
    color: #fff;
    padding: 7px 15px;
    border-radius: 50px;
    text-decoration: none;
}

.profile-btn:hover {
    background-color: #4172da;
    transition: all 0.3s;
    cursor: pointer;
}

#profile-desc {
    width: 80%;
}

#profile-stats {
    display: flex;
    flex-direction: row;
    gap: 50px;
    margin: 0 auto;
}

.profile-stats-child {
    display: flex;
    flex-direction: row;
}

.profile-stats-child img {
    align-self: center;
}

.profile-stats-child-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.profile-stats-child-amount {
    font-weight: bolder;
}

.profile-stats-child-title {
    color: rgb(88, 88, 88);
}

#add-experience-btn {
    background: #5289ff;
    display: block;
    margin: 50px 0 0 auto;
    width: max-content;
    padding: 5px 15px;
    border-radius: 15px;
    color: #fff;
    cursor: pointer;
    text-decoration: none;
}

#add-experience-btn:hover {
    background: #4172da;
    transition: all 0.3s;
}

#profile-experience-parent {
    display: flex;
    flex-direction: row;
    gap: 70px;
    margin-bottom: 50px;
}

.profile-experience-child {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 50%;
}

.roadmap-parent {
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
}

.roadmap-child {
    display: flex;
    flex-direction: row;
    position: relative;
}

.roadmap-child:hover {
    background-image: linear-gradient(to right, 
                                    rgba(45,85,255,0) 1%,
                                    rgba(45,85,255,0.1) 5%,
                                    rgba(45,85,255,0.1));
}

.roadmap-child:hover > .roadmap-edit, .roadmap-child:hover > .roadmap-delete {
    display: block;
}

.roadmap-edit {
    display: none;
    position: absolute;
    top: 5px;
    right: 5px;
    color: black;
}

.roadmap-delete {
    display: none;
    position: absolute;
    bottom: 5px;
    right: 5px;
}

.roadmap-delete button i {
    color: lightcoral;
    font-size: 16px;
}

.roadmap-delete button {
    background: none;
    border: none;
    outline: none;
}

.roadmap-edit:hover {
    color: royalblue;
    cursor: pointer;
}

.roadmap-delete button i:hover {
    color: red;
    cursor: pointer;
}


.roadmap-progress {
    background-color: black;
    width: 3px;
    min-height: calc(100% + 5px);
    position: absolute;
    top: 20px;
}

.roadmap-progress::before {
    position: absolute;
    content: "";
    border: 2px solid #5289ff;
    width: 15px;
    height: 15px;
    top: -17px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 50%;
}

.roadmap-content {
    padding: 0 50px 0 20px;
    display: flex;
    flex-direction: column;
    height: auto;
}

.roadmap-place {
    font-style: italic;
}

.roadmap-date {
    background-color: #5289ff;
    width: max-content;
    padding: 2px 5px;
    margin: 10px 0;
    color: #fff;
    margin-top: 10px;
    font-size: 14px;
}

.roadmap-strong {
    font-weight: bold;
}

#misc-parent {
    margin-top: 20px;
    padding-top: 20px;
    border-top: 1px solid rgb(212, 212, 212);
    display: flex;
}

.misc-child {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

#skills-parent {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}

.skills-child {
    background: #5289ff;
    border-radius: 20px;
    display: flex;
    gap: 10px;
    padding: 4px 15px;
    color: #fff;
    user-select: none;
}

.skill-delete {
    cursor: pointer;
    opacity: 0;
    color: lightgray;
}

.skills-child:hover > .skill-delete {
    opacity: 1;
}

.skills-child.add {
    display: block;
    background: rgba(82, 137, 255, 0.7);
    position: relative;
    z-index: 1000;
    padding: 4px 35px;
}

.skills-child.add:hover {
    background: rgba(82, 137, 255, 1);
    border-radius: 0 0 15px 15px;
}

.skills-child.add:hover .skills-add-drop {
    display: block;
}

.skills-add-drop {
    display: none;
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 100%;
}

.skills-add-drop-parent {
    background: #5289ff;
    display: flex;
    flex-direction: column;
}

.skills-add-drop a {
    padding: 2px 5px;
}

.skills-add-drop a:hover {
    filter: opacity(0.6);
    cursor: pointer;
}

@media only screen and (max-width: 950px) {
    #profile-info {
        width: 100%;
        border-right: none;
    }

    #profile-content {
        flex-direction: column;
    }

    #profile-stats {
        width: 100%;
        margin-top: 20px;
    }

    .profile-btn {
        margin: auto 0px auto auto;
    }
}

@media only screen and (max-width: 550px) {
    #profile-stats {
        flex-direction: column;
        gap: 0;
    }
}

@media only screen and (max-width: 600px) {
    #profile-experience-parent {
        flex-direction: column;
        gap: 40px;
    }

    .profile-experience-child {
        width: 100%;
    }
}

@media only screen and (max-width: 830px) {
    #profile-desc {
        width: 100%;
    }
}

@media only screen and (max-width: 530px) {
    #profile-header {
        flex-direction: column;
    }
}
