#profile-container {
    width: 80%;
    margin: 20px auto 0 auto;
    display: flex;
    flex-direction: column;
    gap: 30px;
    background-color: rgb(255, 255, 255);
    padding: 45px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    position: relative;
}

#profile-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
    padding: 20px 0 50px 0;
    border-bottom: 1px solid rgb(212, 212, 212);
}

#profile-private-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 50vh;
    width: auto;
}

#profile-private-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
}

#profile-private-wrapper a {
    text-decoration: none;
    color: #5289ff;
}

#profile-avatar-wrapper {
    width: 130px;
    height: 130px;
    align-self: center;
    border-radius: 50%;
}

#profile-change-avatar {
    position: relative;
    height: 130px;
    width: max-content;
}

.change-avatar{
    margin-bottom: 50px;
}

#profile-change-avatar-edit {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(0,0,0,0.55);
    color: #fff;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 28px;
    pointer-events: none;
    opacity: 0;
}

#profile-change-avatar:hover > #profile-change-avatar-edit {
    opacity: 1;
}


#profile-avatar {
    width: 130px;
    height: 130px;
    border-radius: 50%;
    align-self: center;
    cursor: pointer;
}

#profile-content {
    display: flex;
    flex-direction: row;
    width: 100%;
}

#profile-info {
    height: max-content;
    width: 50%;
    border-right: 1px solid rgb(212, 212, 212);
}

#profile-info-header {
    display: flex;
}

#profile-location {
    display: flex;
    margin-top: 4px;
}

#profile-location i {
    width: 20px;
    color: #5289ff;
    line-height: 1.4;
}

#profile-email {
    display: flex;
    align-items: center;
    gap: 7px;
    margin-bottom: 10px;
}

#profile-email i {
    color: #5289ff;
}

.profile-btn {
    background-color: #5289ff;
    height: max-content;
    margin: auto 50px auto auto;
    color: #fff;
    padding: 7px 15px;
    border-radius: 50px;
    text-decoration: none;
}

.profile-btn:hover {
    background-color: #4172da;
    transition: all 0.3s;
    cursor: pointer;
}

#profile-info-about {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
}

#profile-info-email {
    width: 80%;
}

#profile-info-desc {
    width: 80%;
}

#profile-stats {
    display: flex;
    flex-direction: row;
    gap: 50px;
    margin: 0 auto;
}

.profile-stats-child {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.profile-stats-child i {
    font-size: 26px;
    color: #5289ff;
}

.profile-stats-child-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.profile-stats-child-amount {
    font-weight: bolder;
}

.profile-stats-child-title {
    color: rgb(88, 88, 88);
}

#add-experience-btn {
    background: #5289ff;
    display: block;
    margin-left: auto;
    width: max-content;
    padding: 5px 15px;
    border-radius: 15px;
    color: #fff;
    cursor: pointer;
    text-decoration: none;
}

#add-experience-btn:hover {
    background: #4172da;
    transition: all 0.3s;
}

#profile-experience-parent {
    display: flex;
    flex-direction: row;
    gap: 70px;
    margin-bottom: 10px;
    max-height: 450px;
    min-height: 350px;
    overflow-y: auto;
    padding: 0 10px;
}

#profile-experience-parent::-webkit-scrollbar {
    width: 5px;
}

#profile-experience-parent::-webkit-scrollbar-track {
    background: #f1f1f1;
}

#profile-experience-parent::-webkit-scrollbar-thumb {
    background: #5289ff;
}

#profile-experience-parent::-webkit-scrollbar-thumb:hover {
    background: #2663e7;
}

.profile-experience-child {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 50%;
}

.roadmap-parent {
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
}

.roadmap-child {
    display: flex;
    flex-direction: row;
    position: relative;
}

.roadmap-child:hover {
    background-image: linear-gradient(to right, 
                                    rgba(45,85,255,0) 1%,
                                    rgba(45,85,255,0.1) 5%,
                                    rgba(45,85,255,0.1));
}

.roadmap-child:hover > .roadmap-edit, .roadmap-child:hover > .roadmap-delete {
    display: block;
}

.roadmap-edit {
    display: none;
    position: absolute;
    top: 5px;
    right: 5px;
    color: #5289ff;
}

.roadmap-edit:hover {
    color: #4172da;
    cursor: pointer;
}

.roadmap-delete {
    display: none;
    position: absolute;
    bottom: 5px;
    right: 5px;
}

.roadmap-delete button {
    background: none;
    border: none;
    outline: none;
}

.roadmap-delete button i {
    color: lightcoral;
    font-size: 16px;
}

.roadmap-delete button i:hover {
    color: red;
    cursor: pointer;
}

.roadmap-progress {
    background-color: black;
    width: 3px;
    min-height: calc(100% + 5px);
    position: absolute;
    top: 20px;
}

.roadmap-progress::before {
    position: absolute;
    content: "";
    border: 2px solid #5289ff;
    width: 15px;
    height: 15px;
    top: -17px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 50%;
}

.roadmap-content {
    padding: 0 50px 0 20px;
    display: flex;
    flex-direction: column;
    height: auto;
}

.roadmap-place {
    font-style: italic;
}

.roadmap-date {
    background-color: #5289ff;
    width: max-content;
    padding: 2px 5px;
    margin: 10px 0;
    color: #fff;
    margin-top: 10px;
    font-size: 14px;
}

.roadmap-strong {
    font-weight: bold;
}

#misc-parent {
    margin-top: 20px;
    padding: 40px 0;
    border-top: 1px solid rgb(212, 212, 212);
    border-bottom: 1px solid rgb(212, 212, 212);
    display: flex;
    gap: 10px;
}

.misc-child {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

#skills-parent {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}

.skills-child {
    background: #5289ff;
    border-radius: 20px;
    display: flex;
    gap: 10px;
    padding: 4px 15px;
    color: #fff;
    user-select: none;
}

.skill-delete {
    cursor: pointer;
    opacity: 0;
    color: lightgray;
    background: none;
    border: none;
    outline: none;
}

.skills-child:hover .skill-delete {
    opacity: 1;
}

.skills-child.add {
    display: block;
    background: rgba(82, 137, 255, 0.7);
    position: relative;
    z-index: 1000;
    padding: 4px 35px;
}

.skills-child.add:hover {
    background: #4172da;
    border-radius: 0 0 15px 15px;
}

.skills-child.add:hover .skills-add-drop {
    display: block;
}

.skills-add-drop {
    display: none;
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 100%;
}

.skills-add-drop-parent {
    background: #4172da;
    display: flex;
    flex-direction: column;
}

.skills-add-drop button {
    padding: 2px 5px;
    background: none;
    outline: none;
    border: none;
    color: #fff;
    width: 100%;
}

.skills-add-drop button:hover {
    filter: opacity(0.6);
    cursor: pointer;
}

#message-container {
    display: none;
}
#message-overlay {
    position: absolute;
    background: rgba(0,0,0,0.3);
    backdrop-filter: blur(4px);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: center;
}
#message-modal {
    position: relative;
    background: rgba(255, 255, 255, 0.9);
    padding: 40px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    border-radius: 7px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
#message-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.message-form-child {
    display: flex;
    flex-direction: column;
}
.message-form-child input {
    outline: none;
    padding: 8px 10px;
}
.message-form-child textarea {
    resize: none;
    width: 300px;
    height: 70px;
    outline: none;
    padding: 8px 10px;
}
#message-form button {
    width: max-content;
    padding: 8px 15px;
    background: #5289ff;
    outline: none;
    border: none;
    color: #fff;
    border-radius: 20px;
}
#message-form button:hover {
    background: #4172da;
    transition: all 0.3s;
    cursor: pointer;
}
#message-modal-close {
    position: absolute;
    top: 10px;
    right: 10px;
}
#message-modal-close:hover {
    opacity: 0.5;
    cursor: pointer;
}

.profile-project-parent {
    display: flex;
    flex-direction: column;
    gap: 7px;
}

.profile-project-child {
    text-decoration: none;  
    display: flex;
    flex-direction: column;
    gap: 5px;
    background: #5289ff;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
}

.profile-project-child-title {
    font-weight: bold;
}

.profile-project-child:hover {
    background: #4172da;
    cursor: pointer;
    transition: all 0.3s;
}

.discover-btn {
    display: block;
    width: max-content;
    background-color: #5289ff;
    margin: 45px auto 0 auto;
    color: #fff;
    padding: 7px 15px;
    border-radius: 50px;
    text-decoration: none
}

.discover-btn:hover {
    background-color: #4172da;
    transition: all 0.3s;
    cursor: pointer;
}




@media only screen and (max-width: 1200px) {
    #profile-info {
        width: 100%;
        border-right: none;
    }

    #profile-content {
        flex-direction: column;
    }

    #profile-stats {
        width: 100%;
        margin-top: 20px;
    }

    .profile-btn {
        margin: auto 0px auto auto;
    }
}

@media only screen and (max-width: 670px) {
    #profile-stats {
        flex-direction: column;
        gap: 0;
    }
}

@media only screen and (max-width: 600px) {
    #profile-experience-parent {
        flex-direction: column;
        gap: 40px;
    }

    .profile-experience-child {
        width: 100%;
    }
    #misc-parent {
        flex-direction: column;
    }
    .misc-child {
        width: 100%;
    }
}

@media only screen and (max-width: 830px) {
    #profile-desc {
        width: 100%;
    }
}

@media only screen and (max-width: 530px) {
    #profile-header {
        flex-direction: column;
    }
}
