html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    font-family: "Segoe UI", Tahoma, "Geneva", Verdana, sans-serif;
}

* {
    margin: 0;
    padding: 0;
}

h1{
    text-align: center;
    margin-top: 100px;
    margin-bottom: 25px;
    font-weight: 600;
    font-size: 1.5rem;
}

.carousel-container{
    position: relative;
    margin: 0 auto;
    max-width: 800px;
}

.carousel {
    box-sizing: border-box;
    margin: 0 auto;
    width: calc(100% - 100px);
    height: 200px;
    display: flex;
    gap: 25px;
    overflow: hidden;
    position: relative;
    pointer-events: none;
    mask-image: linear-gradient(to right, black 70%, transparent);
    -webkit-mask-image: linear-gradient(to right, black 70%, transparent);
}

.controls{
    position: absolute;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    width: 100%;
    padding: 0 10px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 2;
}

.controls button{
    transition: all ease 300ms;
    border: none;
    background-color: transparent;
    font-size: 1.3rem;
    padding: 5px;
}

.controls button:hover{
    font-size: 1.45rem;
    cursor: pointer;
}

.card{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 16px;
    background-color: hsl(0, 0%, 97%);
    border-radius: 16px;
    overflow: hidden;
    min-width: 160px;
    text-align: center;
    transition: transform ease 500ms;
}

.card img{
    border-radius: 32px;
    width: 64px;
    height: 64px;
}

.card p{
    font-size: 1rem;
    font-weight: 300;
}

.card p:first-of-type{
    font-weight: 600;
    font-size: 1.3rem;
}

.card a{
    transition: background-color ease 300ms;
    margin-top: 15px;
    background-color: #5289ff;
    width: 100%;
    padding: 8px 0;
    color: hsl(0, 0%, 97%);
    text-decoration: none;
    pointer-events: auto;
}

.card a:hover{
    background-color: rgb(39, 67, 129);
    cursor: pointer;
}

.project {
    margin: 0 auto;
    width: 90%; max-width: 1000px;
    height: 300px;
    display: flex;
    box-shadow: 0px 0px 16px 0px hsla(0, 0%, 3%, 0.1);
    border-radius: 32px;
    overflow: hidden;
}

.project .text-container {
    padding: 2rem;
    display: flex;
    flex-direction: column;
}

.project .text-container .title{
    font-size: 1.5rem;
    font-weight: 600;
}

.project .participants {
    margin-top: auto;
    display: flex;
    gap: 0.5rem;
}

.project .participant {
    position: relative;
}

.project .participant a .avatar {
    overflow: hidden;
    border-radius: 15px;
    width: 30px;
    height: 30px;
    object-fit: cover;
}

.project .participant .crown {
    position: absolute;
    font-size: 1rem;
    color: rgb(137, 137, 40);
    left: 50%;
    top: -17.5px;
    transform: translateX(-50%);
    z-index: 2;
}

.project .participant .name{
    position: absolute;
    opacity: 0;
    transition: opacity ease 200ms;
    display: inline-block;
    white-space: nowrap;
}

.project .participant a:hover ~ .name{
    opacity: 1;
}

@media (max-width: 900px){
    .project{
        flex-direction: column;
        height: auto;
        max-width: 500px;
    }

    .project .image{
        max-height: 200px;
        object-fit: contain;
    }

    .project .participants{
        margin-top: 50px;
    }
}





/* Notify */
#notify-wrapper {
    position: fixed;
    left: 0;
    top: 100px;
    right: 0;
    bottom: 0;
    opacity: 0.84;
    pointer-events: none;
    z-index: 10000000000000;
}

.notify-parent {
    display: flex;
    flex-direction: column;
    position: absolute;
    right: -16.15vw;
    top: 0;
    margin: 0.8vw;
}

.notify-child {
    display: flex;
    flex-direction: row;
    width: 10vw;
    color: white;
    padding: 0.8vw 1vw;
    border-radius: 0.26vw;
    font-weight: bold;
    width: 13vw;
    margin-bottom: 0.26vw;
    user-select: none;
}

.notify-icon {
    margin: auto 0.9vw auto 0;
    font-size: 1vw;
}

.notify-text {
    font-size: 0.90vw;
    margin: auto 0;
}