@using Microsoft.AspNetCore.Identity
@using Web.Models.Message

@inject SignInManager<User> signInManager
@inject UserManager<User> userManager

@model List<UserMessagesViewModel>

@{
    ViewData["Title"] = "Messages";
}

<div class="contacts-container">
    <h1>Messages</h1>
    <div id="contacts-parent">
        @foreach(UserMessagesViewModel message in @Model) {
            <a asp-controller="Message" asp-action="Chat" asp-route-id="@message.User.Id" class="contacts-child">
                <img src="/avatars/@message.User.AvatarUri">
                <div>
                    <h3>@message.User.FirstName @message.User.LastName</h3>
                    <p>@message.LastMessage</p>
                </div>
            </a>
        }
    </div>
</div>