@using Microsoft.AspNetCore.Identity
@using System.Security.Claims

@inject SignInManager<User> signInManager
@inject UserManager<User> userManager

@model NewMessageViewModel

@{
    ViewData["Title"] = "New message";
}

<div class="form-container">
    <div class="form-wrapper">
        <div class="form-header">
            <h2>New message</h2>
        </div>
        <div class="form-content">
            <form class="form" asp-controller="Message" asp-action="New">
                <div class="form-row">
                    @if (!signInManager.IsSignedIn(User))
                    {
                        <div class="form-child">
                            <label>Nickname</label>
                            <div class="form-child-input">
                                <div><i class="fa-solid fa-house"></i></div>
                                <input type="text" placeholder="John Doe">
                            </div>
                        </div>
                    }
                    <div class="form-child">
                        <label>Send to</label>
                        <div class="form-child-input">
                            <div><i class="fa-solid fa-signature"></i></div>
                            <select name="options">
                                @{
                                    string? userId = signInManager.IsSignedIn(User) 
                                        ? User.FindFirst(ClaimTypes.NameIdentifier)?.Value
                                        : null;

                                    List<User> users = userId != null
                                        ? userManager.Users.Where(u => u.Id != userId).ToList()
                                        : userManager.Users.ToList();

                                    @foreach (User user in @users)
                                    {
                                        <option value="@user.Id">@user.FirstName @user.LastName</option>
                                    }
                                }
                            </select>
                        </div>
                    </div>
                    <div class="form-child">
                        <label>Body</label>
                        <div class="form-child-input">
                            <div><i class="fa-solid fa-signature"></i></div>
                            <textarea></textarea>
                        </div>
                    </div>
                </div>
                <button type="submit" class="submit">Send</button>
            </form>
        </div>
    </div>
</div>