<div id="confirm-wrapper">
	<div id="confirm-overlay">
		<div id="confirm-modal">
			<i id="confirm-modal-close" class="fa-solid fa-xmark"></i>
			<h3>Confirmation</h3>
			<p id="confirm-text">Are you sure you want to perform this action?</p>
			<div id="confirm-btns">
				<div id="confirm-yes">Yes</div>
				<div id="confirm-no">No</div>
			</div>
		</div>
	</div>
</div>