@* @{
    var unreadMessagesCount = ViewData["UnreadMessagesCount"] as int?;
    var displayMessageCount = unreadMessagesCount > 9 ? "9+" : unreadMessagesCount?.ToString() ?? "0";
} *@

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - CSSITE</title>
    @* <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/> *@
    <script src="https://kit.fontawesome.com/4e3e087dd4.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/css/profile.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/form.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/header.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Web.styles.css" asp-append-version="true" />
</head>
<body>
<header>
    <nav>
        <a class="logo" asp-controller="Home" asp-action="Index"> CV-Site </a>
        <div id="searchbar">
                <i class="fa-solid fa-magnifying-glass icon"></i>
                <input id="searchinput" type="text" placeholder="Search"/>
        </div>
        <a class="message" asp-controller="Messages" asp-action="Index">
            <p> Messages</p>
            <i class="fa-regular fa-envelope"></i>
            <div class="inbox">
                @* <p>@displayMessageCount</p> *@
            </div>
        </a>
        <a asp-controller="Project" asp-action="Index"> Projects </a>
        @if (!User.Identity.IsAuthenticated) {
            <a asp-controller="Auth" asp-action="Login" class="login"> Log in </a>
        }
        else
        {
            <form asp-controller="Auth" asp-action="Logout">
                <button type="submit">Logout</button>
            </form>
            @if (User.Identity.IsAuthenticated && ViewData["UserId"] != null)
            {
                <div class="profile">
                    <a asp-controller="Profile" asp-action="Index" asp-route-id="@ViewData["UserId"]"> Profile </a>
                        <img src="https://cdn-icons-png.flaticon.com/512/3607/3607444.png" class="avatar" />
                </div>
            }
        }

    </nav>
</header>
<div class="container">
    <main role="main" class="pb-3">
        @RenderBody()
    </main>
</div>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
<script src="~/js/search.js" asp-append-version="true"></script>
@await RenderSectionAsync("Scripts", required: false)
</body>
</html>