@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}
<div class="error-container">
    <div class="error-wrapper">
        <div class="error-header">
            <h1>Something went wrong!</h1>
        </div>
        <div class="error-body">
            <h2>@Model.Title</h2>
            <p>@Model.Message</p>
            <a asp-controller="Home" asp-action="Index">Return to start</a>
        </div>
    </div>
</div>
