@model AddSkillViewModel

<form asp-controller="Profile" asp-action="AddSkill" asp-route-id="@Model.UserId" asp-route-sid="@Model.Id" method="post">
    <button type="submit">@Model.Title</button>
</form>