<div id="message-container">
	<div id="message-overlay">
		<div id="message-modal">
			<i id="message-modal-close" class="fa-solid fa-xmark"></i>
			<h2>Send message</h2>
			<form id="message-form">
				<div class="message-form-child">
					<label>Name</label>
					<input type="text" placeholder="John Doe" />
				</div>
				<div class="message-form-child">
					<label>Message</label>
					<textarea placeholder="Lorem ipsum..."></textarea>
				</div>
				<button type="submit">Send</button>
			</form>
		</div>
	</div>
</div>

