@using Web.Models.Message;

@model AnonymousSendMessageViewModel

<div id="message-container">
	<div id="message-overlay">
		<div id="message-modal">
			<i id="message-modal-close" class="fa-solid fa-xmark"></i>
			<h2>Send message</h2>
			<form id="message-form" asp-controller="Message" asp-action="SendAnonymous">
				<input type="hidden" asp-for="@Model.ReceiverId" />
				<div class="message-form-child">
					<label asp-for="Name">Name</label>
					<input asp-for=Name type="text" placeholder="John Doe" />
				</div>
				<span class="form-error" asp-validation-for="Name"></span>
				<div class="message-form-child">
					<label asp-for="Text">Message</label>
					<textarea asp-for="Text" placeholder="Lorem ipsum..."></textarea>
				</div>
				<span class="form-error" asp-validation-for="Text"></span>
				<button type="submit">Send</button>
			</form>
		</div>
	</div>
</div>

